#menu "ASoC support for SUNXI"
config SND_SOC_SUNXI_RW
	bool
config SND_SOC_SUNXI_AUDIO_DMA
	bool

config SND_SOC_SUNXI_TDM
	bool
menuconfig SND_SUNXI_SOC
	tristate "ASoC support for SUNXI"
	select SND_SOC_SUNXI_AUDIO_DMA
	#select SND_SOC_SUNXI_RW
	select SND_SOC_DMAENGINE_PCM
	#select SND_SOC_SUNXI_TDM

if SND_SUNXI_SOC
config SND_SOC_INTERNAL_AUDIOCODEC
	tristate "ASoC support for audiocodec"
	depends on ARCH_SUN50IW1P1
	select SND_SOC_SUNXI_RW
	help
	  Say Y or M if you want to add support for codecs attached to the
	  AUDIOCODEC interface.

config SND_SOC_INTERNAL_I2S
	tristate "ASoC support for internal-i2s"
	depends on ARCH_SUN50IW1P1
	select SND_SOC_SUNXI_RW
	help
	  Say Y or M if you want to add support for codecs attached to the
	  INTERNAL I2S interface.

config SND_SOC_AUDIO_CODEC_MACHINE
	tristate "ASoC support for audiocodec machine"
	depends on ARCH_SUN50IW1P1
	select SND_SOC_SUNXI_RW
	help
	  Say Y or M if you want to add support for codecs attached to the
	  AUDIOCODEC MACHEINE interface.

config SND_SOC_INTERNAL_SUN8IW10_AUDIOCODEC
	tristate "ASoC support for audiocodec"
	depends on ARCH_SUN8IW10
	select SND_SOC_SUNXI_RW
	help
	  Say Y or M if you want to add support for codecs attached to the
	  AUDIOCODEC interface.

config SND_SOC_INTERNAL_SUN8IW11_AUDIOCODEC
	tristate "ASoC support for audiocodec"
	depends on ARCH_SUN8IW11
	select SND_SOC_SUNXI_RW
	help
	  Say Y or M if you want to add support for codecs attached to the
	  AUDIOCODEC interface.

config SND_SOC_SUNXI_CODEC_CPU_DAI
	tristate "ASoC support for internal-codec cpudai"
	depends on ARCH_SUN8IW10 || ARCH_SUN8IW11
	select SND_SOC_SUNXI_RW
	help
	  Say Y or M if you want to add support for codecs attached to the
	  INTERNAL I2S interface.

config SND_SOC_SUN8IW10_AUDIO_CODEC_MACHINE
	tristate "ASoC support for sun8iw10 audiocodec machine"
	depends on ARCH_SUN8IW10
	select SND_SOC_SUNXI_RW
	help
	  Say Y or M if you want to add support for codecs attached to the
	  AUDIOCODEC MACHEINE interface.

config SND_SOC_SUN8IW11_AUDIO_CODEC_MACHINE
	tristate "ASoC support for sun8iw11 audiocodec machine"
	depends on ARCH_SUN8IW11
	select SND_SOC_SUNXI_RW
	help
	  Say Y or M if you want to add support for codecs attached to the
	  AUDIOCODEC MACHEINE interface.

config SND_SOC_DAUDIO_PLATFORM
	tristate "ASoC support for daudio platform."
	select SND_SOC_SUNXI_TDM
	help
 	  Say Y or M if you want to add the daudio platform interface.

config SND_SOC_VIRCODEC
	tristate "ASoC support for vircodec."
	help
 	  Say Y or M if you want to add the vircodec interface.

config SND_SOC_DAUDIO0_MACHINE
	tristate "ASoC support for daudio0 machine"
	select SND_SOC_SUNXI_TDM
	help
 	  Say Y or M if you want to add the daudio0 MACHEINE interface.


config SND_SOC_DAUDIO1_MACHINE
	tristate "ASoC support for daudio1 machine"
	select SND_SOC_SUNXI_TDM
	help
 	  Say Y or M if you want to add the daudio1 MACHEINE interface.

config SND_SOC_DMIC
	tristate "ASoC support for dmic."
	depends on ARCH_SUN8IW10
	help
 	  Say Y or M if you want to add the dmic interface.

config SND_SOC_CS4385
	tristate "dsd codec of cs4385."
	depends on ARCH_SUN8IW10
	help
 	  Say Y or M if you want to add the cs4385 codec interface.

config SND_SOC_DSD
	tristate "ASoC support for dsd."
	depends on ARCH_SUN8IW10
	help
 	  Say Y or M if you want to add the dsd interface.

config SND_SUNXI_SOC_HDMIAUDIO
	tristate "ASoC support for hdmiaudio."
	depends on ARCH_SUN50IW1P1 || ARCH_SUN8IW11
	select SND_SOC_SUNXI_TDM
	help
 	  Say Y or M if you want to add the hdmi platform interface.

config SND_SUNXI_SOC_SPDIF
	tristate "ASoC support for spdif soundcard"
	help
 	  Say Y or M if you want to add the spdif soundcard include macheine plarform.
config SND_SOC_HUB
	bool "Support SUNXI AUDIO HUB"
	depends on (SND_SUNXI_SOC_HDMIAUDIO && SND_SUNXI_SOC_SPDIF)
	help
	Say Y if you want to add audiohub function.

config SUNXI_AUDIO_DEBUG
	bool "Support SUNXI AUDIO DEBUG"
	help
	 this is DEBUG function, add by LSH
	depends on SND_SOC_SUNXI_AUDIO_DMA

endif



#endmenu

