#
#  Touchscreen driver configuration
#
config  TOUCHSCREEN_GSLX680
       tristate  "gslX680 touchscreen driver"      
       depends on INPUT && I2C
       default m
       help
         gsl1680,gsl2680,gsl3680 touchscreen driver    
         
