[Unit]
Description=teres1-ledctrl
After=basic.target

[Service]
ExecStart=/usr/bin/teres1-ledctrl /dev/input/by-path/platform-1c1b000.ehci1-controller-usb-0:1.4:1.0-event-kbd
TimeoutStopSec=1
Restart=always
RestartSec=5
StartLimitInterval=0

[Install]
WantedBy=basic.target
